In [1]:
import os
os.listdir()

['.ipynb_checkpoints', '13th.py', 'Untitled.ipynb']

In [2]:
import geopy
dir(geopy)

['ArcGIS',
 'AzureMaps',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeEarth',
 'GeocodeFarm',
 'GoogleV3',
 'Here',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'MapBox',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Pelias',
 'Photon',
 'PickPoint',
 'Point',
 'TomTom',
 'What3Words',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'location',
 'point',
 'units',
 'util']

In [3]:
from geopy.geocoders import ArcGIS

In [4]:
nom = ArcGIS()

In [5]:
nom = ArcGIS()

Location(# 1 Loft, 1 Lorong 24 Geylang, 398614, Singapore, (1.312767000000008, 103.88352150000003, 0.0))

In [7]:
n = nom.geocode("149 Sims Drive, Singapore 388078")

In [9]:
print(n.longitude)

103.8760785

In [10]:
print(n.latitude)

1.316034000000002

In [13]:
import pandas as pd
df = pd.read_csv("supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [14]:
df["Location"] = df["Address"] + ", " + df["City"] + ", " + df["State"] + ", " + df["Country"]

In [18]:
df

,ID,Address,City,State,Country,Name,Employees,Location
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA"

In [19]:
df["Coordinates"] = df["Location"].apply(nom.geocode)

In [20]:
df

,ID,Address,City,State,Country,Name,Employees,Location,Coordinates
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA","(3666 21st St, San Francisco, California, 9411..."
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA","(735 Dolores St, San Francisco, California, 94..."
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA","(332 Hill St, San Francisco, California, 94114..."
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA","(3995 23rd St, San Francisco, California, 9411..."
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA","(1056 Sanchez St, San Francisco, California, 9..."
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA","(551 Alvarado St, San Francisco, California, 9..."

In [23]:
df.Coordinates[0].latitude

37.75644449321933

In [40]:
df["Latitude"] = df["Coordinates"].apply(lambda x:x.latitude if x != None else None)
df["Longitude"] = df["Coordinates"].apply(lambda x:x.longitude if x != None else None)

In [41]:
df

,ID,Address,City,State,Country,Name,Employees,Location,Coordinates,Latitude,Longitude
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA","(3666 21st St, San Francisco, California, 9411...",37.756444,-122.429353
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA","(735 Dolores St, San Francisco, California, 94...",37.757801,-122.425599
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA","(332 Hill St, San Francisco, California, 94114...",37.755641,-122.428794
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA","(3995 23rd St, San Francisco, California, 9411...",37.752985,-122.431702
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA","(1056 Sanchez St, San Francisco, California, 9...",37.752144,-122.429758
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA","(551 Alvarado St, San Francisco, California, 9...",37.753709,-122.433251